kamioni_shema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="kamioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="truck" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:string" name="naziv"/>
              <xs:element type="xs:string" name="snaga"/>
              <xs:element type="xs:byte" name="payload"/>
              <xs:element type="xs:string" name="model"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>